
// Custom SCSS to override badge styles
$badge-success-bg: #28a745 !default; // Green background for active status
$badge-danger-bg: #dc3545 !default; // Red background for inactive status

.badge-success {
  background-color: $badge-success-bg;
}

.badge-danger {
  background-color: $badge-danger-bg;
}


.sidebar-container {
  width: 250px;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  padding: 20px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-header h4 {
  font-size: 24px;
  font-weight: bold;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-item {
  margin-bottom: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}

.sidebar-link:hover {
  background-color: #444;
}

.sidebar-link .fa {
  margin-right: 10px;
}

/* Active link styling */
.sidebar-link.active {
  background-color: #555;
}

/* Main content area */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
}


a.no-hover:hover,
a.no-hover:focus {
  color: white !important;
}

a.no-hover-blue:hover,
a.no-hover-blue:focus {
  color: #0070ff !important;
}

.text-gray-700 {
  color: $o-gray-700;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.fs-28 {
  font-size: 28px !important;
}

.page-heading-wrapper {
  font-size: 28px;
  font-weight: 700;
}