.table-header-style {
    background-color: #FBFBFB !important;
    border: 1px solid #F2F2F2 !important;
}

.table-header-label {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #666666 !important;
}

.table-td-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #666666 !important;
}

.sort-icon-style {
    width: 20px;
    height: 20px;
    margin-left: 18px;
}

.add-icon-style {
    width: 20px;
    height: 20px;
    color: #0070FF;
}

.close-btn {
    margin-right: 40px !important;
}

.add-model-heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #1A1A1A !important;
}
